body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #ffa500; /* Silky orange background */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #1c1c1c;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

h1, h2 {
    margin-bottom: 20px;
}

input[type="text"], input[type="file"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff4500; /* Orange button color */
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

.btn:hover {
    background-color: #e03b00; /* Darker orange on hover */
}

.footer {
    margin-top: 20px;
    font-size: 0.8em;
}

.social-icons a {
    color: #ff4500; /* Orange social media icon color */
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2em;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #333;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}
